<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue Search String in Youtube Video</title>

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>
  <body>
    <div id="app">

      <div class="mx-auto container" style="width: 1000px;">
        <form style="padding: 0.5rem">
          <img style="max-width:10%;"src="https://images-na.ssl-images-amazon.com/images/I/41HeL2cy9LL.png" alt="search">
          <div class="form-group" >
            <label class="font-weight-bolder" for="youtubeurl">YouTube URL</label>
            <input type="text" class="form-control" id="youtubeurl" aria-describedby="anyurl" v-model="url">
            <small id="anyurl" class="form-text text-muted">example URL : https://www.youtube.com/watch?v=klnvttPfOUM</small>
          </div>
          <div class="form-group" >
            <label for="keyword" class="font-weight-bolder">Keyword</label>
            <input type="text" class="form-control" id="keyword" v-model="kataKunci">
          </div>
          <button class="btn btn-primary" @click="bersihkan">Bersihkan</button>
        </form>

      <div style="padding: 0.5rem">
        <button type="button" class="btn btn-success btn-sm" style="margin: 0.25rem" @click="navigasi('first')" :disabled="!paginasi['first']">First</button>
        <button type="button" class="btn btn-success btn-sm" style="margin: 0.25rem" @click="navigasi('prev')" :disabled="!paginasi['prev']">Prev</button><button type="button" class="btn btn-success btn-sm" style="margin: 0.25rem" @click="navigasi('next')" :disabled="!paginasi['next']">Next</button><button type="button" class="btn btn-success btn-sm" style="margin: 0.25rem" @click="navigasi('last')" :disabled="!paginasi['last']">Last</button>
      

   <div class="mx-auto container" style="width: 1000px;">
    <form style="padding: 0.5rem">
      <div>Total Hasil: {{ paginasi.total }}</div>
      <div>Halaman ke: {{ paginasi.page }}</div>

      <ul class="daftar">
        <li v-for="(hasil, i) in daftarHasil" :key="i">
          <span v-html="hasil.text"></span>
          <a :href="`${url}&t=${hasil.start}s`" target="_blank">Youtube</a>
        </li>
      </ul>
    </form>
    </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./index.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          url: 'https://www.youtube.com/watch?v=klnvttPfOUM',
          kataKunci: '',
          daftarHasil: [],
          paginasi: {
            first: null,
            last: null,
            prev: null,
            next: null,
            total: 0,
            page: null
          }
        },
        watch: {
          kataKunci: pDebounce(async function tanganiKataKunci(kataKunci) {
            if (kataKunci && kataKunci.length >= 3) {
              await this.cari(kataKunci, this.url)
            } else {
              this.bersihkanHasilDanPaginasi()
            }
          }, 250)
        },
        computed: {
          jadikanString(){
            return (parameter) => {
              return JSON.stringify(parameter, null, 2)
            }
          }
        },
        methods: {
          async cari(kataKunci, url, paginasi) {
            try {
              const respon = await fetch(
                paginasi
                  ? paginasi
                  : `https://cari-teks-video-api.vercel.app/api/search?q=${kataKunci}&url=${encodeURIComponent(
                      url
                    )}`
              ).then(_ => (_.ok ? _.json() : []))

              this.daftarHasil = respon.data
              this.paginasi.first = respon.first
              this.paginasi.last = respon.last
              this.paginasi.prev = respon.prev
              this.paginasi.next = respon.next
              this.paginasi.total = respon.total
              this.paginasi.page = respon.page
            } catch (error) {}
          },
          async navigasi(type) {
            if (!this.paginasi[type]) {
              return
            }
            await this.cari(this.kataKunci, this.url, this.paginasi[type])
          },
          bersihkan() {
            this.kataKunci = ''
            this.bersihkanHasilDanPaginasi()
          },
          bersihkanHasilDanPaginasi() {
            this.daftarHasil = []
            this.paginasi = {
              first: null,
              last: null,
              prev: null,
              next: null,
              total: 0,
              page: null
            }
          }
        }
      })
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </div>
  </body>
</html>
